body {
    background-color: #333;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}

#title {
    font-weight: bold;
    color: #ffd700;
    font-size: 25px; /* tai haluamasi fonttikoko */
}

input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    width: 300px;
}

/* Muotoile container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}

/* Piilota checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Luo uusi checkbox ulkoasu */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    margin-bottom: 10px;
    background-color: #eee;
}

/* Kun checkbox on valittuna, muuta taustan väriä */
.checkbox-container input:checked ~ .checkmark {
    background-color: #abfa6b;
}

/* Luo merkki, joka näkyy, kun checkbox on valittuna */
.checkmark:after {
    content: "";
    position: sticky;
    display: none;
}

/* Näytä merkki, kun checkbox on valittuna */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Muotoile merkki */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

button {
    background-color: yellow;
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
}

button:hover {
    background-color: #ffd700;
}
